<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="laptop-c60bg7al\sqlexpress.Test.dbo" connectionString="XpoProvider=MSSqlServer;data source=LAPTOP-C60BG7AL\SQLEXPRESS;integrated security=SSPI;initial catalog=Test" />
        <add name="stokEkstresi.Properties.Settings.TestConnectionString" connectionString="Data Source=LAPTOP-C60BG7AL\SQLEXPRESS;Initial Catalog=Test;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="TestEntities" connectionString="metadata=res://*/Entity.Model1.csdl|res://*/Entity.Model1.ssdl|res://*/Entity.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-C60BG7AL\SQLEXPRESS;initial catalog=Test;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>